body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 1.7;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus, input:focus, textarea:focus, button:focus, .slick-initialized .slick-slide:focus, .btn:focus, select:focus {
    text-decoration: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

input, textarea, button, select {
    border: 0
}

input, textarea, select {
    width: 100%;
    background-color: transparent;
    padding: 0 20px;
    height: 45px;
    font-weight: 600;
    font-size: 13px;
    color: #555;
    border: 1px solid rgba(0, 0, 0, 0.1)
}


a:focus, a:hover {
    text-decoration: none
}

i, span, a {
    display: inline-block
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    margin: 0
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    color: #000
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none
}

p {
    margin: 0
}

a {
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a, a:hover {
    color: #000
}


.post-details-area {
    padding-top: 120px;
    padding-bottom: 120px
}

.post-details .entry-header {
    margin-bottom: 60px;
    text-align: center
}

.post-details .entry-header .title {
    font-size: 48px;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 1.556;
    margin-bottom: 60px
}


.post-details .entry-header .post-meta li {
    font-size: 14px;
    line-height: 1
}

.post-details .entry-header .post-meta li, .post-details .entry-header .post-meta li a {
    color: #646464
}

.post-details .entry-header .post-meta li a {
    margin: 0 5px
}

.post-details .entry-header .post-meta li a:hover {
    color: #000
}

.post-details .entry-header .post-meta li:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd
}

.post-details .entry-header .short-desc {
    font-weight: 500;
    padding: 0 80px;
    font-size: 16px;
    line-height: 1.6
}


.post-details .entry-content {
    padding: 60px 80px;
    font-size: 16px;
    line-height: 1.6
}


.post-details .entry-content .has-dropcap:first-letter {
    font-size: 48px;
    line-height: 1
}

.post-details .entry-content p:not(:last-child) {
    margin-bottom: 50px
}

.post-details .entry-footer {
    padding: 45px 80px 0;
    text-align: center
}


.post-details .entry-footer .post-tags span, .post-details .entry-footer .social-share span {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Slab", serif;
    margin-right: 20px
}


.post-details .entry-footer .post-tags a, .post-details .entry-footer .social-share a {
    color: #5a5959;
    font-size: 14px;
    margin: 0 2px
}

.post-details .entry-footer .post-tags a:hover, .post-details .entry-footer .social-share a:hover {
    color: #000
}

.post-details .entry-footer .social-share {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 20px
}

.post-details .entry-footer .social-share a {
    color: #000;
    margin: 0 4px
}

.post-details .entry-footer .post-author {
    max-width: 385px;
    margin: 60px auto
}

.post-details .entry-footer .post-author .author-img {
    margin-bottom: 15px
}

.post-details .entry-footer .post-author .author-img img {
    width: 75px;
    height: 75px;
    border-radius: 50%
}

.post-details .entry-footer .post-author h5 {
    font-size: 20px;
    margin-bottom: 20px
}


@media (max-width: 991px) {
    .post-details .related-posts .related-loop.row > .col, .post-details .related-posts .related-loop.row > [class*="col-"] {
        padding-right: 20px;
        padding-left: 20px
    }
}

.post-details .related-posts .related-loop .related-post-box {
    text-align: center;
    margin-bottom: 40px
}

.post-details .related-posts .related-loop .related-post-box .thumb {
    margin-bottom: 20px
}

.post-details .related-posts .related-loop .related-post-box .title {
    font-size: 20px;
    line-height: 1.6
}

@media (max-width: 991px) {
    .post-details .related-posts .related-loop .related-post-box .title {
        font-size: 18px
    }
}

.comment-template {
    padding: 0 100px
}

@media (max-width: 991px) {
    .comment-template {
        padding: 0 50px
    }
}

@media (max-width: 767px) {
    .comment-template {
        padding: 0 20px
    }
}

.comment-template .template-title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 60px;
    text-decoration: underline
}

@media (max-width: 575px) {
    .comment-template .template-title {
        font-size: 22px
    }
}

.comment-template .comment-list {
    margin-bottom: 60px
}

.comment-template .comment-list li:not(:last-child) {
    margin-bottom: 50px
}

.comment-template .comment-list li .comment-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60px 20px 1fr;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px
}

@media (max-width: 575px) {
    .comment-template .comment-list li .comment-body {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr
    }
}

.comment-template .comment-list li .comment-author {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px
}

.comment-template .comment-list li .comment-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 25px
}

.comment-template .comment-list li .comment-footer .date {
    color: #989898;
    font-size: 14px
}

.comment-template .comment-list li .comment-footer .reply-link {
    line-height: 1;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: #000;
    border: 1px solid #ececec;
    border-radius: 12px;
    padding: 8px 25px;
    font-size: 13px
}

.comment-template .comment-list li .comment-footer .reply-link:hover {
    color: #fff;
    border-color: #000;
    background-color: #000
}

.comment-template .comment-form .row {
    margin-left: -25px;
    margin-right: -25px
}

.comment-template .comment-form .row > .col, .comment-template .comment-form .row > [class*="col-"] {
    padding-right: 25px;
    padding-left: 25px
}

.comment-template .comment-form input, .comment-template .comment-form textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    padding-left: 0;
    height: 50px;
    margin-bottom: 30px
}

.comment-template .comment-form ::-webkit-input-placeholder {
    font-size: 15px;
    color: #7d7d7d
}

.comment-template .comment-form ::-moz-placeholder {
    font-size: 15px;
    color: #7d7d7d
}

.comment-template .comment-form :-ms-input-placeholder {
    font-size: 15px;
    color: #7d7d7d
}

.comment-template .comment-form ::-ms-input-placeholder {
    font-size: 15px;
    color: #7d7d7d
}

.comment-template .comment-form ::placeholder {
    font-size: 15px;
    color: #7d7d7d
}

.comment-template .comment-form textarea {
    height: 100px
}

.comment-template .comment-form button {
    font-size: 14px;
    font-weight: 500;
    background-color: #2f2f2f;
    color: #fff;
    line-height: 1;
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 23px;
    border: 1px solid #2f2f2f;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.comment-template .comment-form button:hover {
    background-color: #fff;
    color: #000
}

.comment-template .comment-form button i {
    font-size: 12px;
    position: relative;
    top: -1px;
    margin-left: 10px
}


/*!
 * Bootstrap v4.5.3 (https://getbootstrap.com/)
 * Copyright 2011-2020 The Bootstrap Authors
 * Copyright 2011-2020 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title], abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b, strong {
    font-weight: bolder
}

